<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-deliverable-heading" jhiTranslate="workstackApp.deliverable.home.createOrEditLabel">Create or edit a Deliverable</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!deliverable.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="deliverable.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="workstackApp.deliverable.techId" for="field_techId">Tech Id</label>
                    <input type="text" class="form-control" name="techId" id="field_techId"
                        [(ngModel)]="deliverable.techId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="workstackApp.deliverable.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="deliverable.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="workstackApp.deliverable.spentTime" for="field_spentTime">Spent Time</label>
                    <input type="number" class="form-control" name="spentTime" id="field_spentTime"
                        [(ngModel)]="deliverable.spentTime" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="workstackApp.deliverable.project" for="field_project">Project</label>
                    <select class="form-control" id="field_project" name="project" [(ngModel)]="deliverable.project" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="projectOption.id === deliverable.project?.id ? deliverable.project : projectOption" *ngFor="let projectOption of projects; trackBy: trackProjectById">{{projectOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
